/*容器高度*/

.scroll_con {
    padding: 80px 53px;
    box-shadow: 2px 3px 57px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 3px 57px 0 rgba(0,0,0,0.2);
}

.scroll_con{
    background-color: #82a6f5;
    width:80%;
    height:120px;
    border:0px solid #f6d6ff;
    border: 5px solid #FFCC99;
    margin: 15px auto 20px auto;
    position:relative;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*文本实际高度*/
.paragraph{
    width:100%;
    position:absolute;
    left:-20px;
    top:0;
    font-size:14px;
    font-family:'Microsoft Yahei';
    line-height:32px;
    text-indent:2em;
}

.paragraph h1{
	font-size: 20px;
}
.paragraph h4{
	font-size: 16px;
}
.paragraph 	h4{
	color:#f6d6ff;
}
.paragraph 	h1{
	color:yellow;
}

.paragraph 	h4:hover{
			color:cyan;
}
.paragraph 	h1:hover{
			color:cyan;
}

@media only screen and (min-width: 1025px) {
	.scroll_con {
        width:60%;
        height:240px;
    }
}

@media only screen  and (min-width:500px) and (max-width:1024px) {
	.scroll_con {
        width:60%;
        height:240px;
    }
}

@media only screen and (max-width: 500px) {
	.bigbox{margin-right: 0px;}
}