<!DOCTYPE html>
<html style='max-width:100%;overflow:auto;overflow-x:hidden;overflow-y:auto;height:100%;-webkit-overflow-scrolling: touch;box-sizing:border-box;'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我和他的小爱情</title>

<!--    <link href="/static/Css/main.css" rel="stylesheet" type="text/css">-->

<!--第三方库-->
	<link rel="stylesheet" type="text/css" href="/static/Css/thirdPackage/bootstrap.min.css">
	<script type="text/javascript" src="/static/Js/thirdPackage/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/Js/thirdPackage/bootstrap.min.js"></script>
<!--第三方库-->
	<link rel="stylesheet" type="text/css" href="/static/Css/index/Commont.css">

</head>


<body style='max-width:100%;overflow:auto;overflow-x:hidden;overflow-y:auto;height:100%;-webkit-overflow-scrolling: touch;box-sizing:border-box;'>


<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">祝 福</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <h3 class="section-subheading">未完待续..</h3>
            </div>
        </div>
        <div class="row">
            <!-- RSVP Area Start -->
            <div class="rsvp-form-area">
                <form action="#">
                    <div class="row">
                        <div class="col-sm-6" style="width:100%;padding-left: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="名字" id="name">
                            </div>
                        <div class="col-sm-12" style="width:100%;padding-left: 0px;">
                            <div class="form-group nessage-text">
                                <textarea name="message" rows="5" class="form-control" placeholder="说些什么吧..." id="message"></textarea>
                            </div>
                            <div class="rsvp-submit-button text-center">
                                <button type="button" class="btn section-button text-uppercase">发表</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- RSVP Area End -->
        </div>
    </div>
</section>


</body>
</html>