<!DOCTYPE html>
<html style='max-width:100%;overflow:auto;overflow-x:hidden;overflow-y:auto;height:100%;-webkit-overflow-scrolling: touch;box-sizing:border-box;'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我和他的小爱情</title>

<!--第三方库-->
	<link rel="stylesheet" type="text/css" href="/static/Css/thirdPackage/bootstrap.min.css">
	<script type="text/javascript" src="/static/Js/thirdPackage/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/Js/thirdPackage/bootstrap.min.js"></script>
<!--第三方库-->

<!--公共库-->
	<link rel="stylesheet" type="text/css" href="/static/Css/common/daohangtiao.css">
	<!-- 闪动文字 -->
	<link rel="stylesheet" type="text/css" href="/static/Css/common/flashText.css">
	<!-- 闪动文字 -->
	<!-- 底部向上箭头 -->
	<link rel="stylesheet" type="text/css" href="/static/Css/common/upPoint.css">
	<script type="text/javascript" src="/static/Js/common/upPoint.js"></script>
	<!-- 底部向上箭头 -->
<!--公共库-->

<!--index库-->
	<!--我们的介绍-->
	<link rel="stylesheet" type="text/css" href="/static/Css/index/introducePhoto.css">
	<!--我们的介绍-->
	<!--滑动文字模块-->
	<link rel="stylesheet" type="text/css" href="/static/Css/index/scrollModule.css">
	<!--滑动文字模块-->
	<!--时间表-->
	<link rel="stylesheet" type="text/css" href="/static/Css/index/mb-comingsoon-iceberg.css">
    <script type="text/javascript" src="/static/Js/index/jquery.mb-comingsoon.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/Css/index/shijianbiao.css">

	<!--时间表-->

	<!--无缝滚动图片-->
	<link rel="stylesheet" type="text/css" href="/static/Css/index/zhiduanqingchang.css">
	<!--无缝滚动图片-->

	<!--纸短情长-->
	<link rel="stylesheet" type="text/css" href="/static/Css/index/wufenggundong.css">
	<!--纸短情长-->

	<link rel="stylesheet" type="text/css" href="/static/Css/index/Commont.css">

<!--index库-->

<style>
section .container .row .col-sm-12 .section-heading {
	margin-top: 0px;
    margin-bottom: 0px;
}
</style>

<!--无缝滚动 -->
<script type="text/javascript">
	window.onload = function(){
		var oDiv = document.getElementById('slide');
		//通过标签获取元素，获取的是选择集，加上下标才能获取到元素
		var oUl = oDiv.getElementsByTagName('ul')[0];
		var iLeft = 0;
		var iSpeed = -2;
		var iNowspeed = 0;
		//将ul里面的内容复制一份，整个ul里面就包含了10个li
		oUl.innerHTML = oUl.innerHTML + oUl.innerHTML;
		function moving(){
			iLeft += iSpeed;
			// 当ul向左滚动到第5个li时，瞬间将整个ul拉回到初始位置
			if(iLeft<-1651.5)
			{
				iLeft=0;
			}
			//当ul在起始位置往右滚动时候，瞬间将整个ul拉回到往左的第5个li的位置
			if(iLeft>0)
			{
				iLeft = -1651.5;
			}
			oUl.style.left = iLeft + 'px';
		}
		var timer = setInterval(moving,30);

		// 当鼠标移入的时候
		oDiv.onmouseover = function(){
			iNowspeed = iSpeed;
			iSpeed = 0;
		}
		// 当鼠标移出的时候
		oDiv.onmouseout = function(){
			iSpeed = iNowspeed;
		}
	}
</script>
<!-- 无缝滚动 -->


</head>




<body style='max-width:100%;overflow:auto;overflow-x:hidden;overflow-y:auto;height:100%;-webkit-overflow-scrolling: touch;box-sizing:border-box;'>
	<!-- 导航条 -->
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<!-- 定义logo和切换小图标   -->
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="javascript:;" class="navbar-brand">
					<img src="/static/images/爱的图标2.jpg" >
				</a>
			</div>
			<div class="collapse navbar-collapse" id="mymenu">
				<!-- 定义菜单   -->
				<ul class="nav navbar-nav">
					<li class="active "><a href="javascript:;">首页</a></li>
					<li><a href="/timeMan/">时间先生</a></li>
					<li><a href="/story/">爱情故事</a></li>
					<li><a href="/letter/">三行情书</a></li>
					<li><a href="/youme/">小小合照</a></li>
<!--					<li><a href="/loveWords/0/">每日情话</a></li>-->
					<li><a href="/Comments/">送上祝福</a></li>
				</ul>
	        </div>
		</div>
	</div>
	<!-- 导航条 -->

    <!--前半部分-->
   <header >
        <div class="wrap-header">
            <div class="main-header">

            </div>
        </div>

    </header>
   <!--前半部分-->

<!--	时间表-->
<section class="bride-groom-area">
    <div class="container">
        <div class="row">
			<div class="zerogrid">
				<div class="tiancong"></div>
				<div class="head-h1" style="text-align:center">我们相恋已有：</div>
				<div class="counter">
					<div class="centered text-center" id="myCounter"></div>
				</div>
			</div>
	</div>
    </div>
</section>
<!--	时间表-->


<!--分割线-->
<HR style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<!--	藏头诗-->
<section class="bride-groom-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">藏头诗</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <!-- 中间文本滑动条 -->
				<div class="section-subheading">
					<div class="scroll_con">
						<!-- 文本实际高度 -->
						<div class="paragraph"  id="wrap">

							<h1 >
								愿得一心人，白首不分离</h1>
							<h4>
								陪伴，是最长情的告白</h4>
							<h4>
								你问过
							</h4>
							<h4>
								我爱你，能坚持多长时间</h4>
							<h4>
								我说过</h4>
							<h4>
								我爱你，是永远</h4>
							<h4>
								你问过
							</h4>
							<h4>
								永远是多久呢</h4>
							<h4>
								我说过</h4>
							<h4>
								永远就是比时间多那么一秒</h4>

							<h4>
								喜欢一座城，因为一个人</h4>
							<h4>
								恋上一座城，因为一颗心</h4>
							<h4>
								留在一座城，因为一份爱</h4>


							<h4>
								爱，
							</h4>
							<h4>
								就是我们的家
							</h4>

							<h4>
								幸福，
							</h4>
							<h4>
								就是在偌大的城市
							</h4>
							<h4>
								用两双眼睛
							</h4>
							<h4>
								看一个未来
							</h4>
							<h4>
								在这里</h4>
							<h4>
								真的很感谢各位小伙伴</h4>
							<h4>
								感谢你们对我和小月月的支持</h4>
							<h4>
								还帮忙撮合我俩</h4>
							<h4>
								更谢谢你们曾经</h4>
							<h4>
								陪着小月月，还有我一路走来</h4>
							<h4>
								欢歌笑语 风雨兼程</h4>
							<h4>
								未来的日子</h4>
							<h4>
								依旧有你们相伴
							</h4>
							<h4>
								以后的岁月
							</h4>
							<h4>
								小月月</h4>
							<h4>
								由我护航 定不辜负</h4>
							<h4>
								感恩 一路同行</h4>

							<h1>我永远都是爱你的大傻子</h1>
						</div>
					</div>
				</div>
				<!-- 中间文本滑动条 -->
            </div>
        </div>
    </div>
</section>
<!--	藏头诗-->

<!-- 我们介绍-->
<!--分割线-->
<HR style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<section class="bride-groom-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section-heading">臭車 & 帅哥</h2>
                <img class="heading-divider" src="static/images/index/divider.png" alt="divider">
<!--                <h3 class="section-subheading">Aliquam erat volutpat. Curabitur tempor nibh quis arcu convallis, sed viverra quam sollicitudin. Proin sed augue sed neque ultricies condimentum. </h3>-->

            </div>
        </div>
        <div class="row" id="coujuIntroduce">

            <!-- Bride Groom Box start-->
            <div class="col-12 col-sm-6 col-md-6 col-lg-5">
                <div class="bride-groom-box">
                    <div class="bride-groom-photo position-relative">
                        <div class="bride-photo-box position-relative"><img src="static/images/index/chounv.jpg" alt="Bride"></div>
                        <div class="bride-border-box">
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                        </div>
                    </div>
                    <div class="bride-groom-content">
                        <a href="/youme/"><h3>臭 車</h3></a>
                        <p>未完待续。。。</p>
					</div>
                </div>
            </div>
            <!-- Bride Groom Box end-->

            <!-- Bride Groom Divider start-->
            <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                <div class="bride-groom-divider">
                    <div class="bride-divider-img">
                        <img src="static/images/index/bride-groom-divider-love.png" alt="Love">
                    </div>
                </div>
            </div>
            <!-- Bride Groom Divider end-->

            <!-- Bride Groom Box start-->
            <div class="col-12 col-sm-6 col-md-6 col-lg-5">
                <div class="bride-groom-box">
                    <div class="bride-groom-photo position-relative">
                        <div class="bride-photo-box position-relative"><img src="static/images/index/shuaige.jpg" alt="Groom"></div>
                        <div class="bride-border-box">
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                        </div>
                    </div>
                    <div class="bride-groom-content">
                        <a href="/youme/"><h3>帅 哥</h3></a>
                        <p>未完待续。。。</p>
					</div>
                </div>
            </div>
            <!-- Bride Groom Box end-->

        </div>
    </div>
</section>
<!-- 我们介绍-->


<!---纸短情长-->
<HR style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>

<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">纸短情长</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
			</div>
        </div>
		<div class="row">
			<div  class="zhiduanqingchang">
				<ul style="padding-left: 20px;">
					<li>
						<div class="text_H1">
							<h4 align="center">学校的我们</h4>
							<h5>未完待续...<a href="">更多</a></h5>
						</div>
					</li>
					<li>
						<img src="/static/images/index/zhiduanqingchang/new-1.gif">
					</li>
					<li class="text_D">
						<div class="text_H1" >
							<h4 align="center">社会的我们</h4>
							<h5>未完待续...<a href="">更多</a></h5>
						</div>
					</li>
					<li>
						<img src="/static/images/index/zhiduanqingchang/new-4.gif">
					</li>
				</ul>
				<ul style="padding-right: 20px; padding-left: 20px;">
					<li>
						<img src="/static/images/index/zhiduanqingchang/new-3.gif">
					</li>
					<li class="text_D">
						<div class="text_H2">
							<h4 align="center">家里的我们</h4>
							<h5>未完待续...<a href="">更多</a></h5>
						</div>
					</li>
					<li>
						<img src="/static/images/index/zhiduanqingchang/new-2.gif">
					</li>
					<li class="text_D">
						<div class="text_H2">
							<h4 align="center">未来的我们</h4>
							<h5>未完待续...<a href="">更多</a></h5>
						</div>
					</li>
				</ul>
			</div>
		</div>
    </div>
</section>
<!---纸短情长-->


<!--分割线-->
<HR  style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<!--	视频流-->
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">绘声绘色</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <h3 class="section-subheading">未完待续..</h3>
				<div id="huishenghuishe-video">
					<video muted controls loop width="320" height="240" poster="/static/video/video1.jpg" src="/static/video/index1.mp4"></video>
				</div>
				<!-- 无缝滚动 -->
				<div class="list_con huishenghuishe-video" id="slide">
					<ul>
					<li><img src="/static/images/index/scronPhoto/1.jpg" height="170" width="98" alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/2.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/3.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/4.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/5.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/6.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/7.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/8.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/9.jpg" height="170" width="98"alt="我和他"></li>

					</ul>
				</div>
				<!-- 无缝滚动 -->
			</div>
        </div>
    </div>
</section>
<!--	视频流-->


<!--分割线-->
<HR  style="text-align:center" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<!--	祝福-->
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">祝 福</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <h3 class="section-subheading">未完待续..</h3>
            </div>
        </div>
        <div class="row">
            <!-- RSVP Area Start -->
            <div class="rsvp-form-area">
                <form action="#">
                    <div class="row">
                        <div class="col-sm-6" style="width:100%;padding-left: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="名字" id="name">
                            </div>
                        <div class="col-sm-12" style="width:100%;padding-left: 0px;">
                            <div class="form-group nessage-text">
                                <textarea name="message" rows="5" class="form-control" placeholder="说些什么吧..." id="message"></textarea>
                            </div>
                            <div class="rsvp-submit-button text-center">
                                <button type="button" class="btn section-button text-uppercase">发表</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- RSVP Area End -->
        </div>
    </div>
</section>
<!--	祝福-->

	<div class='container-fluid' style=" background-color: #82a6f5;">

		<!-- 左边文字动画 -->
        <div style="position:fixed ; left: 10px; top: 60px;z-index:1000">
        	<div class='biaobai'>
        		<div>一</div>
        		<div>切</div>
        		<div>不</div>
        		<div>敢</div>
        		<div>晒</div>
        		<div>的</div>
        		<div>表</div>
        		<div>白</div>
        		<div>都</div>
        		<div>不</div>
        		<div>白</div>
        	</div>
        </div>
		<!-- 左边文字动画 -->

		<!-- 底部向上箭头 -->
		<div class='totop'>↑</div>
		<!-- 底部向上箭头 -->

		<!-- 底部 -->
		<div class="container" id="page">
			<div style="text-align: center; margin: 40px 0 20px">
				&copy; 2018-永远... Copyright 小月月--鄂ICP备1314520号 <a href="#" target="_blank" style="text-decoration: underline;color: #fff"></span></a>
			</div>
			<!-- footer -->
		</div>
		<!-- 底部 -->

	</div>

</body>
</html>