<!DOCTYPE html>
<html style='max-width:100%;overflow:auto;overflow-x:hidden;overflow-y:auto;height:100%;-webkit-overflow-scrolling: touch;box-sizing:border-box;'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我和他的小爱情</title>

<!--第三方库-->
	<link rel="stylesheet" type="text/css" href="/static/Css/thirdPackage/bootstrap.min.css">
	<script type="text/javascript" src="/static/Js/thirdPackage/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/Js/thirdPackage/bootstrap.min.js"></script>
<!--第三方库-->

<!--公共库-->
	<!-- 底部向上箭头 -->
	<link rel="stylesheet" type="text/css" href="/static/Css/common/upPoint.css">
	<script type="text/javascript" src="/static/Js/common/upPoint.js"></script>
	<!-- 底部向上箭头 -->
<!--公共库-->

<style>
section .container .row .col-sm-12 .section-heading {
	margin-top: 0px;
    margin-bottom: 0px;
}
</style>

</head>




<body style='max-width:100%;overflow:auto;overflow-x:hidden;overflow-y:auto;height:100%;-webkit-overflow-scrolling: touch;box-sizing:border-box;'>
	<!-- 导航条 -->
	<link rel="stylesheet" type="text/css" href="/static/Css/common/daohangtiao.css">
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<!-- 定义logo和切换小图标   -->
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="javascript:;" class="navbar-brand">
					<img src="/static/images/爱的图标2.jpg" >
				</a>
			</div>
			<div class="collapse navbar-collapse" id="mymenu">
				<!-- 定义菜单   -->
				<ul class="nav navbar-nav">
					<li class="active "><a href="javascript:;">首页</a></li>
					<li><a href="/timeMan/">时间先生</a></li>
					<li><a href="/story/">爱情故事</a></li>
					<li><a href="/letter/">三行情书</a></li>
					<li><a href="/youme/">小小合照</a></li>
<!--					<li><a href="/loveWords/0/">每日情话</a></li>-->
					<li><a href="/Comments/">送上祝福</a></li>
				</ul>
	        </div>
		</div>
	</div>
	<!-- 导航条 -->

	<!-- 左边文字动画 -->
	<link rel="stylesheet" type="text/css" href="/static/Css/common/flashText.css">
	<div style="position:relative ; float:left; left: 10px; top: 60px;z-index:1000">
		<div class='biaobai' style="position:absolute ;float:left;">
			<div>一</div>
			<div>切</div>
			<div>不</div>
			<div>敢</div>
			<div>晒</div>
			<div>的</div>
			<div>表</div>
			<div>白</div>
			<div>都</div>
			<div>不</div>
			<div>白</div>
		</div>
	</div>
	<!-- 左边文字动画 -->

    <!--前半部分-->
	<link rel="stylesheet" type="text/css" href="/static/Css/index/mb-comingsoon-iceberg.css">
    <script type="text/javascript" src="/static/Js/index/jquery.mb-comingsoon.min.js"></script>
	<script type="text/javascript">
$(function(){
	/*头文字*/
		var text = "我们是平凡的一对，笑过、哭过，\
					我们是不凡的一对，踏雪、过江，\
					经得起考验，扛得住生活，今天：\
					我们一起携手未来，吾三生有幸！";
		var index=0;

		setInterval(function() {
			$('#say').text(text.substring(0,index++));
		}, 200);
	/*头文字*/

	/*音频*/
	 	//播放完毕
		$('#mp3Btn').on('ended', function() {
			console.log("音频已播放完成");
			$('.btn-audio').css({'background':'url(/static/music/zanting.gif) no-repeat center bottom','background-size':'cover'});
		})
		//播放器控制
		var audio = document.getElementById('mp3Btn');
		audio.volume = .3;
		$('.btn-audio').click(function() {
			event.stopPropagation();//防止冒泡
			if(audio.paused){ //如果当前是暂停状态
				$('.btn-audio').css({'background':'url(/static/music/zanting.gif) no-repeat center bottom','background-size':'cover'});
				audio.play(); //播放
				return;
			}else{//当前是播放状态
				$('.btn-audio').css({'background':'url(/static/music/diepian.gif) no-repeat center bottom','background-size':'cover'});
				audio.pause(); //暂停
			}
		});
	/*音频*/
})
</script>
   <header >
        <div class="wrap-header">
            <div class="main-header">
				<div class="header-h-text" style="float:left;">
					臭車婆：
				</div>
				<div class="btn-audio">
					<audio autoplay id="mp3Btn">
						<source src="/static/music/1.mp3" type="audio/mpeg">
					</audio>
				</div>
				<div id="say" class="header-say-text"></div>

            </div>
        </div>
    </header>
   <!--前半部分-->




<!--	时间表-->
<link rel="stylesheet" type="text/css" href="/static/Css/index/shijianbiao.css">
<section class="bride-groom-area" id="section-shijianbiao">
	<div class="container">
		<div class="row" style="margin: 10px 0px;">
			<div class="col-sm-12 text-center">
				<h2 class="section-heading">相濡以沫</h2>
				<img class="heading-divider" src="static/images/index/divider.png" alt="divider">

				<div class="zerogrid">
					<div class="tiancong"></div>
					<div class="head-h1" style="text-align:center">我们相恋已有：</div>
					<div class="counter">
					<div class="centered text-center" id="myCounter"></div>
				</div>
			</div>
		</div>
    </div>
</section>
<!--	时间表-->


<!--分割线-->
<HR style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<link rel="stylesheet" type="text/css" href="/static/Css/index/scrollModule.css">
<!--	藏头诗-->
<section class="bride-groom-area" id="section-cangtoushi">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">藏头诗</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <!-- 中间文本滑动条 -->
				<div class="section-subheading">
					<div class="scroll_con">
						<!-- 文本实际高度 -->
						<div class="paragraph"  id="wrap">

							<h1 >
								愿得一心人，白首不分离</h1>
							<h4>
								陪伴，是最长情的告白</h4>
							<h4>
								你问过
							</h4>
							<h4>
								我爱你，能坚持多长时间</h4>
							<h4>
								我说过</h4>
							<h4>
								我爱你，是永远</h4>
							<h4>
								你问过
							</h4>
							<h4>
								永远是多久呢</h4>
							<h4>
								我说过</h4>
							<h4>
								永远就是比时间多那么一秒</h4>

							<h4>
								喜欢一座城，因为一个人</h4>
							<h4>
								恋上一座城，因为一颗心</h4>
							<h4>
								留在一座城，因为一份爱</h4>


							<h4>
								爱，
							</h4>
							<h4>
								就是我们的家
							</h4>

							<h4>
								幸福，
							</h4>
							<h4>
								就是在偌大的城市
							</h4>
							<h4>
								用两双眼睛
							</h4>
							<h4>
								看一个未来
							</h4>
							<h4>
								在这里</h4>
							<h4>
								真的很感谢各位小伙伴</h4>
							<h4>
								感谢你们对我和小月月的支持</h4>
							<h4>
								还帮忙撮合我俩</h4>
							<h4>
								更谢谢你们曾经</h4>
							<h4>
								陪着小月月，还有我一路走来</h4>
							<h4>
								欢歌笑语 风雨兼程</h4>
							<h4>
								未来的日子</h4>
							<h4>
								依旧有你们相伴
							</h4>
							<h4>
								以后的岁月
							</h4>
							<h4>
								小月月</h4>
							<h4>
								由我护航 定不辜负</h4>
							<h4>
								感恩 一路同行</h4>

							<h1>我永远都是爱你的大傻子</h1>
						</div>
					</div>
				</div>
				<!-- 中间文本滑动条 -->
            </div>
        </div>
    </div>
</section>
<!--	藏头诗-->

<!-- 我们介绍-->
<!--分割线-->
<HR style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<link rel="stylesheet" type="text/css" href="/static/Css/index/introducePhoto.css">
<section class="bride-groom-area" id="section-youandme">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section-heading">臭車 & 帅哥</h2>
                <img class="heading-divider" src="static/images/index/divider.png" alt="divider">

            </div>
        </div>
        <div class="row" id="coujuIntroduce">

            <!-- Bride Groom Box start-->
            <div class="col-12 col-sm-6 col-md-6 col-lg-5">
                <div class="bride-groom-box">
                    <div class="bride-groom-photo position-relative">
                        <div class="bride-photo-box position-relative"><img src="static/images/index/chounv.jpg" alt="Bride"></div>
                        <div class="bride-border-box">
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                        </div>
                    </div>
                    <div class="bride-groom-content">
                        <p>经过民主表决、层层删选，大家公认的可爱又迷人的俏皮角色</p>
						<h4 align="right">--胡文月</h4>
					</div>
                </div>
            </div>
            <!-- Bride Groom Box end-->

            <!-- Bride Groom Divider start-->
            <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                <div class="bride-groom-divider">
                    <div class="bride-divider-img">
                        <img src="static/images/index/bride-groom-divider-love.png" alt="Love">
                    </div>
                </div>
            </div>
            <!-- Bride Groom Divider end-->

            <!-- Bride Groom Box start-->
            <div class="col-12 col-sm-6 col-md-6 col-lg-5">
                <div class="bride-groom-box">
                    <div class="bride-groom-photo position-relative">
                        <div class="bride-photo-box position-relative"><img src="static/images/index/shuaige.jpg" alt="Groom"></div>
                        <div class="bride-border-box">
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                            <span class="bride-groom-border"></span>
                        </div>
                    </div>
                    <div class="bride-groom-content">
                        <p>经过千锤百炼、勇闯天涯，有目共睹的帅气又活力的英雄人物</p>
						<h4 align="right">--赵&nbsp;&nbsp;&nbsp;航</h4>
					</div>
                </div>
            </div>
            <!-- Bride Groom Box end-->

        </div>
    </div>
</section>
<!-- 我们介绍-->

<!--马拉松-->
<HR style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>

<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">马拉松</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
				<h3 class="section-subheading">左右滑动绘出我们的爱情故事...</h3>
			</div>
        </div>

		<!--表白那会儿-->
		<div>
			<img id="xiangce-kaishiye" src="/static/images/index/xiangce-section/left-kaishi.png" />
			<div id="shineflip">
				 <div id="shineflip-pages">
					  <canvas id="shineflip-canvas"></canvas>
					  <canvas id="shineflip-page-mid-canvas"></canvas>
					  <section class="page">
						   <div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-0.jpg" /></div>
					  </section>
					  <section class="page" id="left_pk" style="background:url(/static/images/index/xiangce-section/right_pk.jpg)">
						   <div class="inner-img"><img src="/static/images/index/xiangce-section/new-1-1.jpg" style="float:right;" /></div>
					  </section>
					  <section class="page">
						   <div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-1-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-2-1.jpg" style="float:right;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-2-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-3-1.jpg" style="float:right;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-3-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-4-1.jpg" style="float:right;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-4-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-5-1.jpg" style="float:right;" /></div>
					  </section>
					 <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-5-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-6-1.jpg" style="float:right;" /></div>
					  </section>
					 <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-6-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-7-1.jpg" style="float:right;" /></div>
					  </section>
					 <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-7-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-8-1.jpg" style="float:right;" /></div>
					  </section>
					 <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-8-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-9-1.jpg" style="float:right;" /></div>
					  </section>
					 <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-9-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-10-1.jpg" style="float:right;" /></div>
					  </section>
					 <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-10-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-11-1.jpg" style="float:right;" /></div>
					  </section>
					 <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-11-2.jpg" style="float:left;" /></div>
					  </section>
					  <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-12-1.jpg" style="float:right;" /></div>
					  </section>
					 <section class="page">
							<div class="inner-img"><img class="need-shadow" src="/static/images/index/xiangce-section/new-12-2.jpg" style="float:left;" /></div>
					  </section>
					 <!--最后一页-->
					 <section class="page">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-13-1.jpg" style="float:right;" /></div>
					  </section>
					  <section class="page" id="right_pk" style="background:url(/static/images/index/xiangce-section/right_pk.jpg)">
							<div class="inner-img"><img src="/static/images/index/xiangce-section/new-13-2.jpg" style="float:left;" /></div>
					  </section>
					 <!--封面-->
					  <section class="page">
						   <div class="outer-img"><img src="/static/images/index/xiangce-section/24.jpg"  /></div>
						   <span style="right:18px;"><img src="/static/images/index/xiangce-section/zh.png" /></span>
					  </section>
				 </div>
			</div>
		</div>


    </div>
</section>



<link rel="stylesheet" type="text/css" href="/static/Css/index/xiangce.css">
<script type="text/javascript" src="/static/Js/index/xiangce_min.js"></script>

<script type="text/javascript">
var shineFlip = new ShineFlip({
 // autoFitScreen: true,
 width: 350,
 height: 170,
 page_width: 175,
 page_height: 170
});
</script>

<!--马拉松-->


<!---纸短情长-->
<HR style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<link rel="stylesheet" type="text/css" href="/static/Css/index/wufenggundong.css">
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">纸短情长</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
			</div>
        </div>
		<div class="row">
			<div class="zhiduanqingchang">
				<img  src="/static/images/index/last-zhiduanqingchang.png">
				<div  class="zhiduanqingchang-text">
					<ul>
						<li class="li1">
							①学校的我们
						</li>
						<li class="li2">
							<div>未完待续...</div>
							<a href="" ><img src="/static/images/index/zhiduanqingchang/gengduo.gif"></a>
						</li>
						<li class="li1">
							②家里的我们
						</li>
						<li class="li2">
							<div>未完待续...</div>
							<a href=""><img src="/static/images/index/zhiduanqingchang/gengduo.gif"></a>
						</li>
						<li class="li1">
							③社会的我们
						</li>
						<li class="li2">
							<div>未完待续...</div>
							<a href=""><img src="/static/images/index/zhiduanqingchang/gengduo.gif"></a>
						</li>
						<li class="li1">
							④未来的我们
						</li>
						<li class="li2">
							<div>未完待续...</div>
							<a href=""><img src="/static/images/index/zhiduanqingchang/gengduo.gif"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </div>
</section>
<!---纸短情长-->


<!--分割线-->
<HR  style="text-align:center" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<!--学校的我们-->
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">学校的我们</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <h3 class="section-subheading">左右滑动娓娓道来点点滴滴...</h3>
            </div>
        </div>
        <div id="school">
            <div id="school-section">
				<div id="youandme" >
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-aa.jpg">
						<div>
							2018年12月14日，我和你终于变成我们啦，感谢你这么久的坚持和一直以来的付出，未来会有很多磨难和争吵，我们一定要抓紧彼此的手，我们会从校园，走进社会，我们会有我们的小家，你会容忍我的小毛病，替我遮风大雨，我会了解你的喜好，打理好你的衣食住行。亲爱的，我爱你！
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian1.png">
					</div>

					<div class="school-box">
						<img src="/static/images/index/school-setion/new-a.jpg">
						<div>
							嘻嘻嘻，看我们穿的是什么，对啦，情侣装，哈哈，这是我们的第一件情侣装哦，衣服不够漂亮，只能靠颜值来补啦。这一路走来，磕磕绊绊，吵吵闹闹，还好我们都没有放开彼此的手，值得奖励，要继续保持哦！
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian2.png">
					</div>
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-b.jpg">
						<div>
							快看我在吃什么，蛋糕哦，有个爱我的大傻纸，非要一年给我过两次生日，好吧，我就默默接受吧，嘻嘻。但是旁边的小帅哥，你小眼睛咪咪着，是在干嘛呢，比谁眼睛小呐，好吧，你赢了，霍霍。都说两个人在一起久了，就变得相像了，我怎么觉得我的颜值还是甩了你好几条街呢，天生丽质没办法呀，要不你去趟韩国，姐姐资助你。
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian3.png">
					</div>
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-c.jpg">
						<div>
							我不就是梳了一个俏皮的小辫子嘛，至于的嘛，非要摆拍一下，还要起个名字叫什么猪猪辫，哼，打算即日起把你打入冷宫了，略略略。偷偷侧过头看了看我身边这个大傻纸，认真学习的你还是很有魅力的。
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian4.png">
					</div>
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-d.jpg">
						<div>
							天气终于变暖和一点啦，那就拍个照吧，景美人更美呀，哎呀，身后的小花花没有出境呀，嘻嘻，不重要不重要，身边的你最重要。你说你，不仅肤白，而且还有小酒窝，羡慕嫉妒呀，但是你丑呀，哈哈，骗你的，我眼中你帅气得很。
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian5.png">
					</div>
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-e.jpg">
						<div>
							心心念念的师大夜市，我们终于来了！而且还吃到了最爱吃的烤生蚝，只可惜我在专注拍照，忘记了身边喂我的小哥哥，目不转睛盯着生蚝心想：就知道臭美，还不快吃，我口水都要流出来啦。谢谢亲爱的带我来吃好吃的，你说你怎么对我这么好呀。
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian6.png">
					</div>
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-f.jpg">
						<div>
							学校的挑花开啦，凡是有花的地方，都有阿姨们拍照的身影，赶在花败之前，来张美照吧。希望我们可以一直心中有爱，眼中有景，身边有你。亲爱的，我超爱你的。
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian7.png">
					</div>
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-g.jpg">
						<div>
							小火锅开吃喽，我的大傻纸又带我出来吃好吃的啦，总这么宠着我，你说被宠坏怎么办，你总说我调的火锅蘸料最好吃，每次都要我帮你调，你说万一有一天，你和别人去吃没人给你调了该怎么办那你就喝火锅汤吧，哈哈。
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian8.png">
					</div>
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-h.jpg">
						<div>
							俩傻纸，笑的像二百斤的胖子，你说我的樱桃小口，和你的西瓜大口比起来，小巫见大巫呀，哈哈哈，亲爱的，真的希望你以后的每一天，都能开心快乐，亲爱的，看到你开心，我就会更开心的，有时候你幼稚的像个智障一样，有时候又像个大家长一样，只要你是开心的就好。亲爱的，我喜欢你的每个样子。
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian9.png">
					</div>
					<div class="school-box">
						<img src="/static/images/index/school-setion/new-i.jpg">
						<div>
							亲爱的，怎么这么宠我呀，每次去超市，都要让我坐在购物车里推着我走，看到大家异样的眼光，我总是从紧张、害羞变成最后的傲娇、开心、幸福，我是不是招人恨呀，每次去超市，我们都要逛逛油盐酱醋、锅碗瓢盆、生鲜水果...，畅想着我们未来的小家会是什么模样，有一点是肯定的，家中有你，还有我。
						</div>
						<img class="scroll-dian" src="/static/images/index/school-setion/dian10.png">
					</div>
				</div>
            </div>
        </div>
    </div>
</section>

	<!--我们-->
	<link rel="stylesheet" type="text/css" href="/static/Css/index/youandme.css">
	<script type="text/javascript" src="/static/Js/index/youandme.js"></script>
	<!--我们-->
<!--学校的我们-->

<!--分割线-->
<HR  style="text-align:center" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<!--家里的我们-->
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">家里的我们</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <h3 class="section-subheading">点击揭开不一样的我们...</h3>
            </div>
        </div>
		<div class="row">
			<!-- 手风琴 -->
			<div class='bigbox'>
				<div id="accordion" >
					<ul>
					<li class="bar01"><span>我和他01</span><img src="/static/images/index/home-setion/new-11.jpg"/></li>
					<li class="bar02"><span>我和他02</span><img src="/static/images/index/home-setion/new-12.jpg"/></li>
					<li class="bar03"><span>我和他03</span><img src="/static/images/index/home-setion/new-13.jpg"/></li>
					<li class="bar04"><span>我和他04</span><img src="/static/images/index/home-setion/new-4.jpg"/></li>
					<li class="bar05"><span>我和他05</span><img src="/static/images/index/home-setion/new-5.jpg"/></li>
					<li class="bar06"><span>我和他06</span><img src="/static/images/index/home-setion/new-6.jpg"/></li>
					<li class="bar07"><span>我和他07</span><img src="/static/images/index/home-setion/new-7.jpg"/></li>
					<li class="bar08"><span>我和他08</span><img src="/static/images/index/home-setion/new-8.jpg"/></li>
					<li class="bar09"><span>我和他09</span><img src="/static/images/index/home-setion/new-9.jpg"/></li>
					<li class="bar10"><span>我和他10</span><img src="/static/images/index/home-setion/new-10.jpg"/></li>
					</ul>
				</div>
			</div>
			<!-- 手风琴 -->
		</div>
    </div>
</section>
<link rel="stylesheet" type="text/css" href="/static/Css/index/shoufengqin.css">
<!-- 手风琴滑动效果 -->
		<script type="text/javascript">
			$(function(){
				$('#accordion li').click(function() {
					$(this).animate({left:$(this).index()*20});
					$(this).prevAll().each(function(){
						$(this).animate({left:$(this).index()*20});
					});
					$(this).nextAll().each(function(){
						$(this).animate({left:(340-(10-$(this).index())*20)});
					});
				});
			})
		</script>
<!-- 手风琴滑动效果 -->
<!--家里的我们-->


<!--分割线-->
<HR  style="text-align:center" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<!--社会的我们-->
<link rel="stylesheet" type="text/css" href="/static/Css/index/3Dxiangce.css">
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">社会的我们</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <h4 class="section-subheading">社会的洗礼让我们明白了柴米油盐有多重要...</h4>
            </div>
        </div>
		<div class="threeDXiangceSection" id="DXiangceSection">
			<div class="di">
				<div class="z">
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/1.jpg"></p >
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/2.jpg"></p >
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/3.jpg"></p >
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/4.jpg"></p >
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/5.jpg"></p >
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/6.jpg"></p >
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/7.jpg"></p >
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/8.jpg"></p >
					<p><img class="threeD-img" src="static/images/index/threeD-xiangce/9.jpg"></p >
				</div>
			</div>
		</div>
    </div>
</section>
<!--社会的我们-->

<!--分割线-->
<HR  style="text-align:center" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<!--未来的我们-->
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">未来的我们</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
                <h3 class="section-subheading">未完待续...</h3>
            </div>
        </div>
    </div>
</section>
<!--未来的我们-->


<!--分割线-->
<HR  style="text-align:right" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<!--	视频流-->
<!--无缝滚动图片-->
<link rel="stylesheet" type="text/css" href="/static/Css/index/zhiduanqingchang.css">
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">绘声绘色</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
<!--                <h3 class="section-subheading">未完待续..</h3>-->
				<div id="huishenghuishe-video">
					<video muted controls loop width="320" height="240" poster="/static/video/video1.jpg" src="/static/video/index1.mp4"></video>
				</div>
				<!-- 无缝滚动 -->
				<div class="list_con huishenghuishe-video" id="slide">
					<ul>
					<li><img src="/static/images/index/scronPhoto/1.jpg" height="170" width="98" alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/2.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/3.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/4.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/5.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/6.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/7.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/8.jpg" height="170" width="98"alt="我和他"></li>
					<li><img src="/static/images/index/scronPhoto/9.jpg" height="170" width="98"alt="我和他"></li>

					</ul>
				</div>
				<!-- 无缝滚动 -->
			</div>
        </div>
    </div>
</section>
<!--	视频流-->


<!--分割线-->
<HR  style="text-align:center" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<!--分割线-->
<link rel="stylesheet" type="text/css" href="/static/Css/index/Commont.css">
<!--	祝福-->
<section class="rsvp-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="width:100%;padding-left: 0px;">
                <h2 class="section-heading">祝 福</h2>
                <img class="heading-divider" src="static/images/index/divider.png">
<!--                <h3 class="section-subheading">未完待续..</h3>-->
            </div>
        </div>
        <div class="row">
            <!-- RSVP Area Start -->
            <div class="rsvp-form-area">
                <form action="#">
                    <div class="row">
                        <div class="col-sm-6" style="width:100%;padding-left: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="名字" id="name">
                            </div>
                        <div class="col-sm-12" style="width:100%;padding-left: 0px;">
                            <div class="form-group nessage-text">
                                <textarea name="message" rows="5" class="form-control" placeholder="说些什么吧..." id="message"></textarea>
                            </div>
                            <div class="rsvp-submit-button text-center">
                                <button type="button" class="btn section-button text-uppercase">发表</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- RSVP Area End -->
        </div>
    </div>
</section>
<!--	祝福-->

	<div class='container-fluid' style=" background-color: #82a6f5;">
		<!-- 底部向上箭头 -->
		<div class='totop'>↑</div>
		<!-- 底部向上箭头 -->
		<!-- 底部 -->
		<div class="container" id="page">
			<div style="text-align: center; margin: 40px 0 20px">
				&copy; 2018-永远... Copyright 小月月--鄂ICP备1314520号 <a href="#" target="_blank" style="text-decoration: underline;color: #fff"></span></a>
			</div>
			<!-- footer -->
		</div>
		<!-- 底部 -->
	</div>

<script type="text/javascript">
/*3D相册*/
   //给每个p标签设置位置  //300控制着两个P之间的距离   //40控制着P个数   p_num=360/40
    function setPs() {
        var ps = document.getElementsByClassName('threeDXiangceSection')[0].getElementsByClassName('di')[0].getElementsByClassName('z')[0].getElementsByTagName('p');
        for (var i = 0; i < ps.length; i++) {
            ps[i].style.transform = 'rotatex(-90deg) rotatey(' + i * 40 + 'deg) translatez(150px)'
        }
    }
    //拖动旋转
    function move() {
        var zBox = document.querySelector('.z');
        var xBox = document.querySelector('.di');
        //声明计算移动速度用的变量
        var speedTimer = null;
        var speedX = 0;
        var speedY = 0;
        //声明记录旋转角度的两个变量
        var xDegNow = 82;
        var zDegNow = 0;
        //声明变量记录要旋转的角度
        var xDegDistance = 0;
        var zDegDistance = 0;
        //声明变量记录是否发生鼠标移动事件
        var isMove = false;

		  /*触摸滑动*/
		    document.getElementById("DXiangceSection").addEventListener('touchstart',touch, false);
            document.getElementById("DXiangceSection").addEventListener('touchmove',touch,  {passive: false});
            document.getElementById("DXiangceSection").addEventListener('touchend',touch, false);
		  var xstart = 0;
		  var speedX_start = xstart;
		  var ystart = 0;
		  var speedY_start = ystart;
		  var tstart = 0;
		  var tnow = tstart;
		  function touch (e){
            e.preventDefault();
		   switch(e.type){
			case "touchstart":
			 //清除过渡属性
			 xBox.style.transition = '';
			 zBox.style.transition = '';
			 //记录按下的坐标以及计算速度的初始坐标
			 xstart = e.touches[0].clientX;
			 speedX_start = xstart;
			 ystart = e.touches[0].clientY;
			 speedY_start = ystart;
			 //记录用来计算速度的初始时间
			 tstart = new Date().getTime();
			 tnow = tstart;
			 //设置计时器更新计算速度的当时时间
			 speedTimer = setInterval(function () {
			  tnow = new Date().getTime();
			 },10);
			 break;
			case "touchmove":
			 isMove = true;
			 //记录当时的坐标计算距离
			 var xnow = e.touches[0].clientX;
			 var ynow = e.touches[0].clientY;
			 var xDistance = xnow - xstart;
			 var yDistance = ynow - ystart;
			 //如果计时超过一定时间（10毫秒），计算速度
			 if (tnow - tstart >= 10) {
			  //速度=（现在的坐标-初始坐标）/（现在时间-初始时间）
			  speedX = (xnow - speedX_start) / (tnow - tstart);
			  speedY = (ynow - speedY_start) / (tnow - tstart);
			  //让初始时间和坐标等于现在的时间和坐标
			  tstart = tnow;
			  speedX_start = xnow;
			  speedY_start = ynow;
			 }
			 //把移动距离计算成角度后设置到页面上
			 zDegDistance = zDegNow - (xDistance / 10);
			 zBox.style.transform = 'rotatez(' + zDegDistance + 'deg)';
			 xDegDistance = xDegNow - (yDistance / 10);
			 xDegDistance = xDegDistance > 179 ? 179 : xDegDistance < 1 ? 1 : xDegDistance;
			 xBox.style.transform = 'translate(-50%,-50%) rotatex(' + xDegDistance + 'deg)';
			 break;
			case "touchend":
			 //清除计时器 清除鼠标移动事件
			 clearTimeout(speedTimer);
			 //window.onmousemove = null;
			 //判断如果发生移动
			 if (isMove) {
			  //添加过渡属性
			  xBox.style.transition = 'all 0.5s ease-out';
			  zBox.style.transition = 'all 0.5s ease-out';
			  //根据速度计算目标角度，设置到页面上
			  zDegDistance = zDegDistance - (speedX * 10);
			  zBox.style.transform = 'rotatez(' + zDegDistance + 'deg)';
			  xDegDistance = xDegDistance - (speedY * 10);
			  xDegDistance = xDegDistance > 179 ? 179 : xDegDistance < 1 ? 1 : xDegDistance;
			  xBox.style.transform = 'translate(-50%,-50%) rotatex(' + xDegDistance + 'deg)';
			  //记录当前角度的值更新
			  xDegNow = xDegDistance;
			  zDegNow = zDegDistance;
			  //用到的变量重置
			  isMove = false;
			  speedX = 0;
			  speedY = 0;
			  xDegDistance = 0;
			  zDegDistance = 0;
			 }
			 break;
		   }

		  }
		  /*触摸滑动*/

        window.onmousedown = function (e) {
            //鼠标按下
            //清除过渡属性
            xBox.style.transition = '';
            zBox.style.transition = '';
            //记录按下的坐标以及计算速度的初始坐标
            var xstart = e.clientX;
            var speedX_start = xstart;
            var ystart = e.clientY;
            var speedY_start = ystart;
            //记录用来计算速度的初始时间
            var tstart = new Date().getTime();
            var tnow = tstart;
            //设置计时器更新计算速度的当时时间
            speedTimer = setInterval(function () {
                tnow = new Date().getTime();
            },10)
            window.onmousemove = function (e) {
                //鼠标移动
                isMove = true;
                //记录当时的坐标计算距离
                var xnow = e.clientX;
                var ynow = e.clientY;
                var xDistance = xnow - xstart;
                var yDistance = ynow - ystart;
                //如果计时超过一定时间（10毫秒），计算速度
                if (tnow - tstart >= 10) {
                    //速度=（现在的坐标-初始坐标）/（现在时间-初始时间）
                    speedX = (xnow - speedX_start) / (tnow - tstart);
                    speedY = (ynow - speedY_start) / (tnow - tstart);
                    //让初始时间和坐标等于现在的时间和坐标
                    tstart = tnow;
                    speedX_start = xnow;
                    speedY_start = ynow;
                }
                //把鼠标移动距离计算成角度后设置到页面上
                zDegDistance = zDegNow - (xDistance / 10);
                zBox.style.transform = 'rotatez(' + zDegDistance + 'deg)';
                xDegDistance = xDegNow - (yDistance / 10);
                xDegDistance = xDegDistance > 179 ? 179 : xDegDistance < 1 ? 1 : xDegDistance;
                xBox.style.transform = 'translate(-50%,-50%) rotatex(' + xDegDistance + 'deg)';
            };
        };
        window.onmouseup = function (e) {
            //鼠标松开
            //清除计时器 清除鼠标移动事件
            clearTimeout(speedTimer);
            window.onmousemove = null;
            //判断如果发生移动
            if (isMove) {
                //添加过渡属性
                xBox.style.transition = 'all 0.5s ease-out';
                zBox.style.transition = 'all 0.5s ease-out';
                //根据速度计算目标角度，设置到页面上
                zDegDistance = zDegDistance - (speedX * 10);
                zBox.style.transform = 'rotatez(' + zDegDistance + 'deg)';
                xDegDistance = xDegDistance - (speedY * 10);
                xDegDistance = xDegDistance > 179 ? 179 : xDegDistance < 1 ? 1 : xDegDistance;
                xBox.style.transform = 'translate(-50%,-50%) rotatex(' + xDegDistance + 'deg)';
                //记录当前角度的值更新
                xDegNow = xDegDistance;
                zDegNow = zDegDistance;
                //用到的变量重置
                isMove = false;
                speedX = 0;
                speedY = 0;
                xDegDistance = 0;
                zDegDistance = 0;
            }
        };
    }
/*3D相册*/


	window.onload = function(){
/*无缝滚动图片*/
		var oDiv = document.getElementById('slide');
		//通过标签获取元素，获取的是选择集，加上下标才能获取到元素
		var oUl = oDiv.getElementsByTagName('ul')[0];
		var iLeft = 0;
		var iSpeed = -2;
		var iNowspeed = 0;
		//将ul里面的内容复制一份，整个ul里面就包含了10个li
		oUl.innerHTML = oUl.innerHTML + oUl.innerHTML;
		function moving(){
			iLeft += iSpeed;
			// 当ul向左滚动到第5个li时，瞬间将整个ul拉回到初始位置
			if(iLeft<-1651.5)
			{
				iLeft=0;
			}
			//当ul在起始位置往右滚动时候，瞬间将整个ul拉回到往左的第5个li的位置
			if(iLeft>0)
			{
				iLeft = -1651.5;
			}
			oUl.style.left = iLeft + 'px';
		}
		var timer = setInterval(moving,30);

		// 当鼠标移入的时候
		oDiv.onmouseover = function(){
			iNowspeed = iSpeed;
			iSpeed = 0;
		}
		// 当鼠标移出的时候
		oDiv.onmouseout = function(){
			iSpeed = iNowspeed;
		}
/*无缝滚动图片*/

/*3D相册*/
		setPs();
        move();
/*3D相册*/
	}
</script>



</body>
</html>